body {
  overflow: hidden;
}

.sidepanel {
  white-space: nowrap;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: var(--color-tertiary);
  overflow-x: hidden;
  transition: 0.5s;
  margin-right: 72px;
  border-right: 2px solid var(--color-primary);
}

.sp-buttons {
  position: fixed;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 70px;
  align-content: end;
  width: 70px;
  height: 100%;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  background-color: var(--color-tertiary);
}

.msg-div {
  width: 318px;
  height: 100%;
  overflow-y: auto;
  border-left: 2px solid var(--color-primary);
  /* bottom: 60px; */
}

.send-msg-div {
  position: absolute;
  display: flex;
  width: 318px;
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-tertiary);
  bottom: 0;
  padding: 6px;
}

.send-msg-btn {
  float: right;
  width: 50px;
  margin: 0;
  padding: 0;
}

.send-msg-input {
  height: 100%;
  width: 100%;
}

.sp-button {
  height: 64px;
  width: 64px;
  margin: 3px;
}

button{
  background-color: var(--color-primary);
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.2s;
}

button:hover {
  background-color: var(--color-accent);
  border: 2px solid var(--color-primary);
}

.send-msg-input {
  font-size: 15px;
}

.msg {
  position: relative;
  white-space: normal;
  padding: 8px;
  border-bottom: 1px solid var(--color-primary);
  font-size: 12px;
}

.msg .name {
  font-size: 11px;
}

.msg .content {
  font-size: 14px;
  width: 100%;
  white-space: initial;
  word-wrap: break-word;
}

.msg .date {
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  margin: 0;
}

.msg button {
  font-size: 16px;
}

.top-right {
  position: absolute;
  top: 3px;
  right: 3px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#content {
  margin: 0;
  position: absolute;
  border: none;
  border-radius: 0;
  border-right: 2px solid var(--color-primary);
  top: 0;
  bottom: 0;
  left: 0;
  right: 72px;
  transition: 0.5s;
}