/* The side navigation menu */

.sidepanel {
  white-space: nowrap;
  height: 100%;
  /* 100% Full-height */
  width: 0px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 8px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
  margin-right: 72px;
  border-right: 2px solid #065299;
}

.sp-buttons {
  position: fixed;
  display: grid;
  grid-template-columns: 70px;
  grid-template-rows: 70px;
  align-content: end;
  width: 70px;
  height: 100%;
  bottom: 0px;
  right: 0px;
  z-index: 3;
}

.msg-div {
  width: 318px;
  height: 100%;
  overflow-y: auto;
  /* bottom: 60px; */
}

.send-msg-div {
  position: absolute;
  display: flex;
  width: 318px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #065299;
  border-top: 1px solid #111;
  bottom: 0;
}

.send-msg-btn {
  float: right;
  width: 30px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.send-msg-input {
  height: 100%;
  width: 100%;
}

.sp-button {
  height: 64px;
  width: 64px;
  margin: 3px;
  /* z-index: 3; */
  /* position: fixed;
  bottom: 3px;
  right: 0; */
  background-color: whitesmoke;
  color: black;
}

.send-msg-input {
  font-size: 15px;
  color: #818181;
}

.msg {
  position: relative;
  white-space: normal;
  padding: 8px;
  border-bottom: 1px solid #065299;
  font-size: 12px;
  color: #919191;
}

.msg .name{
  font-size: 11px;
}

.msg .content{
  font-size: 14px;
  width: 100%;
  white-space: initial;
  word-wrap: break-word;
}

.msg .date{
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  margin: 0;
}

.msg button{
  font-size: 16px;
}

.top-right {
  position: absolute;
  top: 3px;
  right: 3px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

body {
  overflow: hidden;
  background-color: #101010;
}

#content {
  margin: 0;
  position: absolute;
  border: none;
  border-radius: 0;
  border-right: 2px solid #065299;
  top: 0;
  bottom: 0;
  left: 0;
  right: 72px;
  transition: 0.5s;
}