<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Demo</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <base href="/" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="containter unauthenticated">
    <h1>Hello</h1>
    <div class="btn btn-primary">
      <a href="/sign-in">LOGIN</a>
    </div>
  </div>
  <div class="container authenticated" style="display: none">
    <div>
      Logged in as: <span id="user"></span>
    </div>

    <div>
      <button onClick="logout()" class="btn btn-primary">Logout</button>
    </div>

    <div style="float: right;">
      <h2>Owned rooms:</h2>
      <div id="owned_rooms">

      </div>

      <h2>Avaliable rooms:</h2>
      <div id="avaliable_rooms">

      </div>
    </div>

  </div>

  <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
  <script>
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (settings.type == 'POST' || settings.type == 'PUT'
          || settings.type == 'DELETE') {
          if (!(/^http:.*/.test(settings.url) || /^https:.*/
            .test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-XSRF-TOKEN", Cookies
              .get('XSRF-TOKEN'));
          }
        }
      }
    });

  </script>
  <script>
    $.get("/getactiveuseremail", function (data) {
      if (data.email) {
        $("#user").html(data.email);
        $(".unauthenticated").hide();
        $(".authenticated").show();
      }
    });

    $.get("/api/v1/room/get-owned", function (data) {
      if (data) {
        var jsonData = eval(data);
        var content = getNamesFromJSON(jsonData);
        $("#owned_rooms").html(content);
      }
      else
        $("#owned_rooms").hide();
    });

    $.get("/api/v1/room/get-avaliable", function (data) {
      if (data) {
        var jsonData = eval(data);
        var content = getNamesFromJSON(jsonData);
        $("#avaliable_rooms").html(content);
      }
      else
        $("#avaliable_rooms").hide();
    });

    function getNamesFromJSON(json) {
      var content = "";
      json.forEach(function (obj) {
        content += "* <a href=\"/api/v1/room/get/" + obj.id + " \">" + obj.name + "</a><br>";
      });
      return content;
    }

    var logout = function () {
      $.post("/logout", function () {
        $("#user").html('');
        $(".unauthenticated").show();
        $(".authenticated").hide();
      })
      return true;
    }



  </script>
</body>

</html>