<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title>TEST</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/room-sidebar.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

  <script>
    var id = "[[${id}]]";
    var isOwner = [[${ isOwner }]];
  </script>
</head>

<body>
  <div>
    <button id="open_panel" class="opensidepanel" onclick="openNav()">open</button>
    <button id="delete_room" class="opensidepanel" style="bottom: 60px;" onclick="deleteRoom()">delete</button>
    <button id="add_access" class="opensidepanel" style="bottom: 120px;" onclick="addAccess()">delete</button>
    <button id="remove_access" class="opensidepanel" style="bottom: 180px;" onclick="removeAccess()">delete</button>
    <button id="close_panel" class="opensidepanel" onclick="closeNav()">close</button>
    <div id="sidepanel" class="sidepanel">
      <div id="messages">

      </div>
      <div style="background-color: #065299;">
        <input type="text" name="msgcontent" id="msgcontent">
        <button onclick="sendMessage()">SEND</button>
      </div>
    </div>

    <script>
      $("#close_panel").hide();
      if (!isOwner)
        $("#delete_room").hide();
    </script>

    <script src="/js/room/room_api_methods.js"></script>
    <script src="/js/room/room.js"></script>

    <pre id="content"></pre>

    <script src="/js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
      var editor = ace.edit("content");
      editor.setTheme("ace/theme/twilight");
      editor.session.setMode("ace/mode/javascript");

      var hasContentChanged = false;
      if (isOwner) {
        editor.on("change", function (e) {
          hasContentChanged = true;
        });

        window.setInterval(function () {
          if (hasContentChanged) {
            hasContentChanged = false;
            saveContent();
          }
        }, 1000);
      }
      else
        editor.setReadOnly(true);

    </script>
  </div>
  <div>
    <a class="btn btn-primary" href="/">Home</a>
  </div>

  <h2 th:text="'Hello, ' + ${id}" id="name"></h2>
  <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
  <script>
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (settings.type == 'POST' || settings.type == 'PUT'
          || settings.type == 'DELETE') {
          if (!(/^http:.*/.test(settings.url) || /^https:.*/
            .test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-XSRF-TOKEN", Cookies
              .get('XSRF-TOKEN'));
          }
        }
      }
    });


  </script>
  <script>
    // TODO: get data when loading page instead of sending request
    var path = "/api/v1/room/get/" + id;

    $.get(path, function (data) {
      if (data) {
        var jsonData = eval(data);
        $("#name").html(jsonData.name);
        editor.setValue(jsonData.content);
      }
      else
        $("#name").hide();
    });

    function initialize() {
      const eventSource = new EventSource("/notifications/" + id);

      // on update message received
      eventSource.onmessage = e => {
        if (e) {
          let jsonData = JSON.parse(e.data);
          let cursorPos = editor.getCursorPosition();
          let newContent = jsonData.content;

          editor.setReadOnly(false);
          editor.setValue(newContent);
          editor.setReadOnly(true);
          editor.clearSelection();
          editor.moveCursorToPosition(cursorPos);
        }
      };

      eventSource.onopen = e => console.log('open');
      eventSource.onerror = e => {
        if (e.readyState == EventSource.CLOSED) {
          console.log('close');
        }
        else {
          console.log(e);
        }
      };

      eventSource.addEventListener('second', function (e) {
        console.log('second', e.data);
      }, false);
    }

    // owner dont need to listen for updates
    if (!isOwner)
      initialize();

  </script>
</body>

</html>