<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <title>TEST - [[${room_name}]]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/room-sidebar.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

  <script>
    // TODO: rename variables
    var id = "[[${room_id}]]";
    var name = "[[${room_name}]]";
    var email = "[[${user_id}]]";
    var isOwner = [[${ is_owner }]];
  </script>
</head>

<body>
  <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
  <script>
    $.ajaxSetup({
      beforeSend: function (xhr, settings) {
        if (settings.type == 'POST' || settings.type == 'PUT'
          || settings.type == 'DELETE') {
          if (!(/^http:.*/.test(settings.url) || /^https:.*/
            .test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-XSRF-TOKEN", Cookies
              .get('XSRF-TOKEN'));
          }
        }
      }
    });
  </script>
  <script src="/js/global.js"></script>
  
  <div class="sp-buttons">
    <button id="home_button" class="sp-button" style="top: 3px; position: fixed;"
      onclick="location.href = '/'">home</button>
    <button id="delete_room" class="sp-button" onclick="deleteRoom()">delete</button>
    <button id="add_access" class="sp-button" onclick="addAccess()">add_access</button>
    <button id="remove_access" class="sp-button" onclick="removeAccess()">delete</button>
    <button id="open_panel" class="sp-button" onclick="openNav()">open</button>
    <button id="close_panel" class="sp-button" onclick="closeNav()">close</button>
  </div>

  <div id="sidepanel" class="sidepanel">
    <div class="msg-div" id="msg-div">

    </div>
    <div class="send-msg-div">
      <input class="send-msg-input" type="text" name="send-msg-input" id="send-msg-input">
      <button class="send-msg-btn" id="send-msg-btn" onclick="sendMessage()">&raquo;</button>
    </div>
  </div>

  <script>
    $("#close_panel").hide();
    if (!isOwner)
      $("#delete_room").hide();
  </script>

  <script src="/js/room/room_api_methods.js"></script>
  <script src="/js/room/room.js"></script>

  <pre id="content"></pre>

  <script src="/js/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var editor = ace.edit("content");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");

    var hasContentChanged = false;
    if (isOwner) {
      editor.on("change", function (e) {
        hasContentChanged = true;
      });

      window.setInterval(function () {
        if (hasContentChanged) {
          hasContentChanged = false;
          saveContent();
        }
      }, 1000);
    }
    else
      editor.setReadOnly(true);

  </script>

  <script>
    // TODO: get data when loading page instead of sending request
    var path = "/api/v1/room/get/" + id;

    $.get(path, function (data) {
      if (data) {
        var roomJSON = eval(data);
        $("#name").html(roomJSON.name);

        if (roomJSON.content) {
          editor.setReadOnly(false);
          editor.setValue(roomJSON.content);
          editor.setReadOnly(true);
          editor.clearSelection();
        }
      }
      else
        $("#name").hide();
    });

    // load all messages
    loadMessages();

    // register SSE listeners
    listenForUpdates();
  </script>
</body>

</html>